title: 0xm4t1
description: CTF Writeups · Offensive Security Notes · Hacking Stuff
theme: null
markdown: kramdown
highlighter: rouge

permalink: /:categories/:title/

collections:
  posts:
    output: true

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
  - scope:
      path: "es"
    values:
      lang: es
  - scope:
      path: ""
    values:
      lang: en
